@{
    ViewData["Title"] = "Home";
}

    <div class="container">
        <!-- Título principal -->
        <div class="text-center">
            <h1 class="p-5 display-2 text-uppercase"><strong>Stock Smart AED</strong></h1>
            <h6 class="display-6"><strong>Controla tu inventario, impulsa tu negocio</strong></h6>
        </div>

        <!-- Sección de imágenes con LinkedIn y nombres -->
        <div class="row text-center mt-5 mb-4">
            <!-- Persona 1 -->
            <div class="col-md-4">
                <img src="~/images/Esperanza.png" class="img-fluid rounded-circle" alt="Imagen Persona 1" style="width: 250px; height: 250px;">
                <p><strong><h3>Esperanza Salas González</h3></strong></p>
            </div>

            <!-- Persona 2 -->
            <div class="col-md-4">
                <img src="~/images/JDavid.png" class="img-fluid rounded-circle" alt="Imagen Persona 2" style="width: 250px; height: 250px;">
                <p><strong><h3>José David Prieto Suárez</h3></strong></p>
            </div>

            <!-- Persona 3 -->
            <div class="col-md-4">
                <img src="~/images/Aaron.png" class="img-fluid rounded-circle" alt="Imagen Persona 3" style="width: 250px; height: 250px;">
                <p><strong><h3>Aaron Castellano Bao</h3></strong></p>
            </div>
        </div>
    </div>

